{% extends 'base.html' %} {% block content %}

<!-- this works with the list function in python{% for number in list_of_numbers %} <p>{{ number }}</p> {% endfor %}-->
<!-- testing loops from the company.json file with run.py{{ company[0] ["name"] }}-->

<h2>{{page_title}}</h2>

<p>
    Lion, (Panthera leo), large, powerfully built cat (family Felidae) that is second in size only to the tiger. The proverbial “king of beasts,” the lion has been one of the best-known wild animals since earliest times. Lions are most active at night and
    live in a variety of habitats but prefer grassland, savanna, dense scrub, and open woodland. Historically, they ranged across much of Europe, Asia, and Africa, but now they are found mainly in parts of Africa south of the Sahara. An isolated population
    of about 650 Asiatic lions constitute a slightly smaller race that lives under strict protection in India’s Gir National Park and Wildlife Sanctuary.
</p>

{%for member in company %}

<div class="row featurette">
    <div class="col-md-7">
        <h3>{{ member.name }}</h3>

        <p>
            {{ member.description }}
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="{{ member.image_source}}">
    </div>
</div>

<hr class="featurette-divider"> {% endfor %} {% endblock %}